{% extends "layout.html" %}
{% block content %}
<h1 style="text-align: center";><u>About</u></h1>
<br>
<p style="text-align: center";>
    Built on Flask (Python), served by Heroku.<br />
    Gets songs from YouTube and metadata from Spotify
    <br /><br />
    Report bugs <a href="mailto:help.musicseize@gmail.com">help.musicseize@gmail.com</a> <br />
    Built by: <a href="https://kalbhor.github.io/">Lakshay Kalbhor</a>
</p>
<hr />
<p style="text-align: center";> If you're a developer and would like to get involved in building/maintaing this site, contact me at the above email. 
    <br />
I could really use some UI/UX help.
</p>
<p style="text-align: center";><a href="{{ url_for('index') }}"><u>Back to main page</u></a></p>
{% endblock %}