{% extends "layout.html" %}

{% block content %}
    <h1 style="text-align: center";><u>Caution</u></h1><br>

    <p style="text-align: center";>
    <u>Downloading songs in this manner might be illegal in your country</u>
    <br /><br />
    Report bugs <a href="mailto:help.musicseize@gmail.com">help.musicseize@gmail.com</a> <br />
    Built by: <a href="https://kalbhor.github.io/">Lakshay Kalbhor</a></p>
    <br /><br />
    <p style="text-align: center";><a href="{{ url_for('index') }}"><u>Back to main page</u></a></p>
{% endblock %}



