{% extends "layout.html" %}

{% block content %}
	<div class="wrap">
	<div class="animated fadeInLeft center">
	<div id="container">
<center><h1 class="home">MusicNow</h1></center>
<br>
<h2>
	<form method="post" action="{{ url_for('songlist') }}" id="form1">
    <input type="text" name="songname" placeholder="Search songs.." />
    <br> <br>
    <center><button class="button button2" type="submit" form="form1" value="Submit">Submit</button></center>
    </form>	
</h2>
</div>
</div>
<p style="font-weight: normal;">"<strong>MusicNow</strong> collects music files from <strong>Youtube</strong> and relevant metadata from <strong>Spotify</strong> and stitches them together to provide a premium .mp3 file"</p>
<p>PS: mid beta version; will fine-tune after April 2017</p>
<br><br>
{% endblock %}


		
	