{% extends "layout.html" %}

{% block content %}
	<div class="wrap">
	<div class="animated fadeInLeft center">
	<div id="container">
<center><h1 class="home">MusicNow</h1></center>
<br>
<h2>
	<form method="post" action="{{ url_for('songlist') }}" id="form1">
    <input type="text" name="songname" placeholder="Search songs.." />
    <br> <br>
    <center><button class="button button2" type="submit" form="form1" value="Submit">Search</button></center>
    </form>	
</h2>
</div>
</div>

<footer>
	<div id="left">
		<ul style="list-style: none;">
		    <li style="float: left;"><p><a class="ruby" href="{{ url_for('index') }}">Main</a>&nbsp;&nbsp;&nbsp;&nbsp;</p></li>
            <li style="float: left;"><p><a class="ruby" href="{{ url_for('about') }}">About</a>&nbsp;&nbsp;&nbsp;&nbsp;</p></li>
            <!-- <li style="float: left;"><p><a class="ruby" href="{{ url_for('about') }}">Feed</a>&nbsp;&nbsp;&nbsp;&nbsp;</p></li> -->
		</ul>
	</div>
</footer>
{% endblock %}

