<html>
  <head>
    <meta charset="utf-8" />
    <title>MusicNow</title>
	<!-- Include meta tag to ensure proper rendering and touch zooming -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="{{ url_for('static',filename='images/music.ico') }}" type="image/x-icon" />
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
	<!-- Include the jQuery library -->
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<!-- Analytics -->
	<script>
  		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 	 	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  		ga('create', 'UA-91049083-1', 'auto');
  		ga('send', 'pageview');

   </script>
	{% block javascript %}

	{% endblock %}
  </head>
  <body>
    {% block content %}

	{% endblock %}
	<footer>
		<div id="left">
			<p>Built by: <a class="email" href="https://lakshaykalbhor.github.io/">Lakshay Kalbhor</a></p>
		</div>
		<div id="right">
			<ul>
				<li><p><a class="dribbble" target="_blank" href="http://www.github.com/lakshaykalbhor">Github</a></p></li>
				<li><p><a class="linkedin" target="_blank" href="https://www.twitter.com/lakshaykalbhor">Twitter</a></p></li>
			</ul>
		</div>
	</footer>
	{% block load %}
	{% endblock %}
  </body>
</html>
